//Config
@import '~/assets/scss/config/reset.css';
@import '~/assets/scss/config/variables.scss';
@import '~/assets/scss/config/global.scss';
@import '~/assets/scss/config/screens.scss';
@import '~/assets/scss/config/medias.scss';
@import '~/assets/scss/config/mixins.scss';

//Custom Style
@import '~/assets/scss/styles/colors.scss';
@import '~/assets/scss/styles/buttons.scss';