:root {
  --primary-color: #0F8B8D;
  --secondary-pink: #C14953;
  --white: #FAFAFA;
  --black: #0A0A0A;
  --error: #FF3B30;

  //Border-radius
  --button-border-radius: 4px;
  --border-radius: 8px;

  //Padding
  --padding-left-right: 32px;
  --padding-top-bottom: 8px;
}
